body{
    background-color: #fafafa;
}

.dino{
    width: 140px;
    height: 120px;
    background-image: url(img-dino/SorAdalbertoFisica\ \(2\).gif);
    background-repeat: no-repeat ;
    position: absolute;
    bottom: 0;
    border: 1px solid black;
}

.cactus{
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    background-image: url(img-dino/cactus.png);
    border: 1px solid black;
}

.game-over{
    margin-top: 50px;
    text-align: center;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes slideright{
    from{
        background-position: 70000%;
    }
    to{
        background-position: 0;
    }
}

.background{
    position: absolute;
    bottom: 0;
    background-image: url(img-dino/background.png);
    background-repeat: repeat-x;
    animation: slideright 600s infinite linear;
    width: 99%;
    height: 200px;
}